<header class="hero owl-bg-carousel-yes" id="home">
    <div class="owl-bg-carousel owl-carousel">
          <div class="item full-screen owl-bg-image">
<!--            style={{ background: 'url('+ process.env.PUBLIC_URL + slider.image + ')'}}-->
    </div>
    <div class="hero-body">
      <div class="text-center hero-text">
        <h1>
          variable <span class="blinker"></span>
        </h1>
        <br />
        <h1 class="small">variable</h1>
        <br />
        <br />
        <span class="divider center" style="Width: 215px"></span>
          <p class="variable">
            variable
          </p>
        <div class="page-scroll">
          <a href="#profile" class="btn btn-custom btn-lg">
            Know Me Better
          </a>
        </div>
      </div>
    </div>
  </header>
  <nav
    class="center-menu navbar navbar-fixed-top"
    id="navigation"
    role="navigation"
  >
    <div class="container navbar-container">
      <div class="page-scroll navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-target=".Chouhan-collapse"
          data-toggle="collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a
          href="#page-top"
          class="navbar-brand visible-sm visible-xs"
        >
          Chouhan
        </a>
      </div>
      <div class="collapse Chouhan-collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="page-scroll">
            <a href="#home">Home</a>
          </li>
          <li class="page-scroll">
            <a href="#profile">I AM</a>
          </li>
          <li class="page-scroll">
            <a href="#qualities">Qualities</a>
          </li>
          <li class="page-scroll">
            <a href="#resume">Resume</a>
          </li>
          <li class="page-scroll">
            <a href="#clients">Clients</a>
          </li>
          <li class="page-scroll">
            <a href="#skills">Skills</a>
          </li>
          <li class="page-scroll">
            <a href="#contact">Contact</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
