<div id="map">
    <div class="address">
      <h4>Charlotte, NC</h4>
    </div>
    <div id="cd-google-map">
      <div id="google-container"></div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-scroll">
            <a href="#page-top">
              <i class="icon-Arrow-Up"></i>

            </a>
          </div>
          <ul class="list-inline social-icons">
            <li>
              <div class="item">
                <a
                  href="https://www.facebook.com/rakesh.chouhan.9469"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-facebook" aria-hidden="true"></i>

                </a>
              </div>
            </li>
            <li>
              <div class="item">
                <a
                  href="https://www.linkedin.com/in/chouhanrakesh"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-linkedin"></i>

                </a>
              </div>
            </li>
            <li>
              <div class="item">
                <a href="https://github.com/chouhan" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-github"></i>

                </a>
              </div>
            </li>
            <li>
              <div class="item">
                <a
                  href="https://plus.google.com/u/0/+RakeshChouhans/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </li>
            <li>
              <div class="item">
                <a href="http://chouhans.wordpress.com/" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-wordpress" aria-hidden="true"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-center copyright">
            <p class="text-grey">
              © {year} Rakesh Chouhan. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
