<section class="section" id="contact">
    <div class="section-wrapper container">
      <div class="section-content">
        <div class="row">
          <div class="text-center col-md-12">
            <h1 class="section-title">Say Hello</h1>
            <p class="section-subtitle">
              Have exciting work !!! Let's discuss.
            </p>
            <span class="divider center"></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center contact-details">
              <div class="speech-bubble">
                <input
                  alt=""
                  class="img-responsive sayHello"
                  id="saveForm"
                  name="saveForm"
                  type="image"
                  src="assets/icons/sendEmail.png"
                />
              </div>
              <h2>
                Rakesh <strong>Chouhan</strong>
              </h2>
              <h4 class="text-grey">me@rakeshchouhan.com</h4>
              <span class="divider center"></span>
            </div>
          </div>
        </div>
        <div class="row" id="contactFormRow">
          <div class="col-md-8 col-md-offset-2">
            <form
              style="display:none"
              action="https://rakeshchouhan.com/services/contact/sendEmail.php"
              class="contact-form element-line validate"
              id="contact-form"
              method="POST"
              name="contact-form"
              noValidate
            >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <input
                        class="form-control required"
                        id="name"
                        name="name"
                        aria-required="true"
                        autoComplete="off"
                        placeholder="Name"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <input
                        class="form-control required email"
                        id="email"
                        name="email"
                        aria-required="true"
                        autoComplete="off"
                        placeholder="Email"
                        type="email"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <input
                        class="form-control required"
                        id="subject"
                        name="subject"
                        aria-required="true"
                        autoComplete="off"
                        placeholder="Subject"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group input-group-lg">
                      <textarea
                        aria-invalid="false"
                        aria-required="true"
                        class="form-control required valid"
                        id="message"
                        name="message"
                        placeholder="Message"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button type="submit" id="submit">
                      Say Hello
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
